@model IEnumerable<SistemaDeSupermercado.Models.Fornecedor>
@{
    Layout = "~/Views/Shared/_PainelAdministrador.cshtml";
    ViewData["Title"] = "Fornecedores";
}
<h3>@ViewData["Title"]</h3>
<hr />
<a asp-action="NovoFornecedor" asp-controller="Gestao" class="btn btn-success">Criar novo fornecedor</a>
<hr />

<div class="row">
    <div class="col-md-10">
        <table class="table table-responsive-lg table-hover">
            <thead class="alert-success">
                <tr>
                    <th scope="col">@Html.DisplayNameFor(model => model.Nome)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Email)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Telefone)</th>
                    <th>Ações</th>
                </tr>
            </thead>
            @foreach (var fornecedor in Model)
            {
                <tbody>
                    <tr>
                        <td>@Html.DisplayFor(model => fornecedor.Nome)</td>
                        <td>@Html.DisplayFor(model => fornecedor.Email)</td>
                        <td>@Html.DisplayFor(model => fornecedor.Telefone)</td>
                        <td>
                            <a class="btn btn-warning" asp-action="EditarFornecedor" asp-route-id="@fornecedor.Id">Editar</a>
                            <form asp-action="Deletar" asp-controller="Fornecedor" class="d-inline">
                                <input type="hidden" name="id" id="id" value="@fornecedor.Id" />
                                <button class="btn btn-danger">Deletar</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            }
        </table>
    </div>
</div>

@section Scripts{
}


